/* MAIN BODY LAYOUT */
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 245, 255);
}

main {
  max-width: 700px;
  margin: auto;
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 245, 255);
  position: relative;
}

/* NAVIGATION BAR */
.user-one,
.user-two,
.chat-button {
  padding: 1.2rem 0;
  margin-right: 15px;
}

.user-two a,
.user-one a,
.chat-button a {
  color: white;
}
.logout:hover {
  transform: scale(1.1);
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.logout {
  padding: 1.2em 1.8em;
  margin-right: 25px;
}
.logout-btn {
  border-color: white;
  color: white;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 2rem;
}
.home-logo {
  width: 16%;
  z-index: 5;
  padding-left: 25px;
}
nav {
  max-width: 100%;
  background-color: purple;
  height: 60px;
}
a {
  text-decoration: none;
  color: black;
}

/* FORM STYLING */
.heading {
  display: flex;
  align-items: center;
}
.back-arrow {
  margin-right: 20px;
}
.heading-input-div {
  margin-bottom: 20px;
  align-items: center;
}
label {
  font-size: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
}
input,
textarea {
  border-radius: 0.5rem;
  width: 630px;
  font-size: 20px;
  padding: 0.8rem 2rem;
  margin: auto;
  margin-top: 10px;
}
textarea {
  height: 400px;
  font-size: 18px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}
input[name="images"] {
  padding: 2rem 10px;
}

.submit-btn {
  background-color: purple;
  color: white;
  padding: 12px 40px;
  border: 2px solid;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 18px;
}
