nav {
    max-width: 100%;
    background-color: purple;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 245, 255);
  }
  
  main {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 245, 255);
    position:relative;
  }
  
  a {
    text-decoration: none;
  }
  
  /* NAVIGATION BAR STYLING */
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: purple;
    width: 100%;
  }
  .logout {
    padding: 1.2em 1.8em;
    margin-right: 25px;
    z-index: 3;
  }
.user-one,
.user-two,
.chat-button {
  padding: 1.2rem 0;
  margin-right: 15px;
  z-index: 3;
}

.user-two a,
.user-one a,
.chat-button a {
  color: white;
}
  .logout-btn {
    border-color: white;
    color: white;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 2rem;
  }
  .logout:hover {
    transform:scale(1.1);
  }
  .home-logo {
    width: 16%;
    z-index: 5;
    padding-left: 25px;
  }

  /* CHAT BUBBLE STYLING */
  .chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: default;
  }
  .chat-div {
    width: 80%;
    height: fit-content;
    background-color: white;
    border-radius: 2rem;
  }

  .yes {
    align-self: flex-end;
    margin: 10px;
    background-color: rgb(233, 201, 241);
    
  }
  .no {
    align-self: flex-start;
    margin: 10px;
    background-color: rgb(239, 226, 239);
  }

  .heading {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

  }
.name {
    flex-grow: 2;
}
.heading p {
 margin: 10px 30px;
 }

.name {
    font-weight: 900;
    font-size: 17px;
}
.message {
    margin: 25px;
    margin-top: 5px;
    line-height: 1.3rem;
}

/* FORM STYLING */
form {
    display: flex;
    margin-bottom: 50px;
}

textarea {
  border-radius: 1rem;
  width: 630px;
  font-size: 20px;
  padding: 0.8rem 2rem;
  margin: auto;
  height: 70px;
  font-size: 18px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

.send-btn {
  background-color: purple;
  color: white;
  padding: 10px 30px;
  border: 2px solid;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 18px;
}
