
/* Carousel styling */
.carousel {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .carousel-item {
    display: inline-block;
    height: 300px;
    margin-right: 20px;
    text-align: center;
  }
  
  .carousel-item img {
    max-width: 100%;
  }
  
  .carousel h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .carousel p {
    margin-top: 0;
  }
  