{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/chat.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Chat
{% endblock title %}


{% block login_signup %}
    {{ super() }}
{% endblock login_signup %}

{% block article %}

<div class="chat-container">
{% for chat in chats_list %}
<div class="chat-div {{ chat.loggedin }}">
  <div class="chat-content">
    <div class="heading">
      <p class="name"> {{ chat.poster }} </p>  
      <p class="header"> {{ chat.reversed_date }} </p>
      <p class="time"> {{ chat.time }}</p>
    </div>
    <div class="message-div">
    <p class="message"> {{ chat.chat }} </p>
    </div>
  </div>
</div>
{% endfor %}
</div>



<form action="/{{ diary_id }}/chat" method="POST">
    <textarea name="chat" type="text"></textarea>
    <button type="submit" class="send-btn"> Send </button>
</form>
{% endblock article %}



{% block tail_js %}  <script src="/static/script.js" async defer></script> {% endblock tail_js%}