{% extends "layout.html" %}

{% block main %}

<form action="/edit/{{ post_id }}" method="POST">

    <img class="edit-photo-display" src="{{ img_url }}" alt="photo"> </br>
    <label for="photo">Change photo</label> </br>
    <input class="photo-text" name="photo" type="text" value="{{ img_url }}"></input>
    </br>

    <label for="date"> Date</label>
    <div class="date-input">

        <div class="date">
            <select class="select-date" name="select-date">
                {% for date_num in range(1, 32) %}     
                    <option value={{ date_num }} {% if date == date_num %} selected {% endif %}> {{ date_num }} </option>
                {% endfor %}
            </select> 
        </div>

        <div class="month">
            <select class="select-month" name="select-month">
                <option value="1" {% if month == 1 %} selected {% endif %}> January </option>
                <option value="2" {% if month == 2 %} selected {% endif %}> February </option>
                <option value="3" {% if month == 3 %} selected {% endif %}> March </option>
                <option value="4" {% if month == 4 %} selected {% endif %}> April </option>
                <option value="5" {% if month == 5 %} selected {% endif %}> May </option>
                <option value="6" {% if month == 6 %} selected {% endif %}> June </option>
                <option value="7" {% if month == 7 %} selected {% endif %}> July </option>
                <option value="8" {% if month == 8 %} selected {% endif %}> August </option>
                <option value="9" {% if month == 9 %} selected {% endif %}> September </option>
                <option value="10" {% if month == 10 %} selected {% endif %}> October </option>
                <option value="11" {% if month == 11 %} selected {% endif %}> November </option>
                <option value="12" {% if month == 12 %} selected {% endif %}> December </option>
            </select> 
        </div>

        <div class="year">
            <select class="select-year" name="select-year">
                {% for year_num in range(1949, current_year+5) %}     
                    <option value={{ year_num }} {% if year == year_num %} selected {% endif %}> {{ year_num }} </option>
                {% endfor %}
            </select> 
        </div>

        <div class="day-name">

        </div>
    </div>

    <label for="time"> Time </label> </br>

    <label for="heading">Edit Heading</label> </br>
    <input class="heading-text" name="heading" type="text" value="{{ diary_heading }}" maxlength="25"></input>
    </br>

    <label for="entry">Edit text</label> </br>
    <textarea class="entry-text" name="entry" type="text"> {{ diary_text }} </textarea>
    </br>

    <input class="submit-edit" type="image" name="submit" src="/static/images/checkmark.png" width="30px">
</form>

{{ super() }}
{% endblock main %}