{% extends "layout.html" %}

{% block main %}
<!-- <div class="the-edit">
    <div class="edit">
        <span class="close-edit">&times;</span>
        <p> Save changes? </p>    
        <form action="/edit/{{ post_id }}" method="POST">
            <input type="hidden" name="post_id" value="{{ post_id }}">
            <button type="submit" class="confirm-edit-btn"> Save </button>
        </form>
    </div>
</div> -->

<form class="edit-form" action="/edit/{{ post_id }}" method="POST">
    <input type="hidden" name="post_id" value="{{ post_id }}">
    <img class="edit-photo-display" src="{{ img_url }}" alt="photo"> </br>

    <input class="fav-checkbox" type="checkbox" name="fav">

    <label for="photo">Change photo</label> </br>
    <input class="photo-text" name="photo" type="text" value="{{ img_url }}">
    </br>

    <p class="day-name"> {{ day_name }} <-- Work out how to get this to update too </p>
    
    <label for="date"> Date </label> </br>
    <input type="date" name="date" value="{{ post_date }}">
    </br>

    <label for="time"> Time </label> </br>
    <input type="time" name="time" value="{{ post_time }}">
    </br>

    <label for="heading">Edit heading</label> </br>
    <input class="heading-text" name="heading" type="text" value="{{ diary_heading }}" maxlength="25"></input>
    </br>

    <label for="entry">Edit text</label> </br>
    <textarea class="entry-text" name="entry" type="text"> {{ diary_text }} </textarea>
    </br>

    <input class="submit-edit" type="image" name="submit" src="/static/images/checkmark.png" width="30px">
    <!-- <img class="submit-edit" src="/static/images/checkmark.png" width="30px"> -->

    <div class="the-edit">
        <div class="edit">
            <span class="close-edit">&times;</span>
            <p> Save changes? </p>    
            <button type="submit" class="confirm-edit-btn"> Save </button>
        </div>
    </div>

</form>





{% endblock main %}