<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Joinary {% block title %} {% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head_css %}
    <link rel="stylesheet" href="/static/style.css" />
    {% endblock head_css %}
  </head>

  <body>
    <nav>
      {% block login_signup %}
        {% if user_name %}
        <div class="navigation-bar">
          <a href="/" ><img src='/static/images/Logo.png' alt="logo for home page" class="home-logo"></a>
          <div class="logout">
          <a href="/logout" class="logout-btn"> Logout </a>
          </div>
        {% endif %} 
        {% if not user_name %}
          <a href="/login"> Login</a>
          <a href="/signup"> Sign Up </a>
        </div>
        {% endif %} 
      {% endblock login_signup %} 
      {% block buttons %} {% endblock buttons %}
    </nav>

    <main>
      <h1>{% block heading %} {% endblock heading %}</h1>

      {% block memories %} {% endblock memories %} 
      
      {% block article %} 
      {% if user_name %}
      <div class="add-entry-div">
        <a href="/addentry" class="add-entry-button"> + Create Entry</a>
      </div>
      {% endif %} 
      {% endblock article %}
    </main>

    {% block tail_js %}
    <script src="/static/script.js" async defer></script>
    {% endblock tail_js%}
  </body>
</html>
