{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/login.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Login
{% endblock title %}

{% block heading %} 
- Login
{% endblock heading %}


{% block article %}
<form action="/login" method="POST">
    <label for="email">Enter Email</label>
    <input name="email" type="text"></input>
    </br>

    <label for="password">Enter Password</label>
    <input name="password" type="password"></input>
    </br>
    
    <button type="submit">Login</button>

    {% if login_error %}
    <p class="passworderror"> {{ login_error }}</p>
    {% endif %}
    
</form>
{% endblock article %}