{% extends "layout.html" %}
{% block head_css %} <link rel="stylesheet" href="/static/main.css"> {% endblock head_css %}


{% block title %}
Home
{% endblock title %}


{% block login_signup %}
    {{ super() }}
{% endblock login_signup %}


{% block heading %} 
{{ user_one }} & {{ user_two}}
{% endblock heading %}


{% block memories %}
<h3 class="memories-heading"> Memories </h3>
<div class="memories">
  {% for random_post in random_posts %}
  <a href="/view/{{ random_post['id'] }}">
  <div class="memory-item" id="{{ random_post['id'] }}">
  <img src="{{ random_post['image_data']['img_url'] }}" alt="photo" class="memoryphoto">
  </div>
  </a>
  {% endfor %}
</div>
{% endblock memories %}

{% block article %}
<p class="no-post-error">{{ no_post_error }}</p>

{% if user_name %}
  <p class="welcome-text">Welcome {{user_name.capitalize()}}! </p> 
{% endif %}

{% for date in sorted_posts %}
<div class="carousel posts{{ sorted_posts[date]|length }}" id="{{ date }}">
  <h2>  {{ date }}  </h2>
    {% for post in sorted_posts[date] %}
    <a href="/view/{{ post['id'] }}">
    <div class="carousel-item num{{ sorted_posts[date]|length }}" id="{{ post['id'] }}">
      <div class="display-image">
      {% if post['metadata']['images'] %}
        <img src="{{ post['metadata']['images'][0]['img_url'] }}" class="img{{ sorted_posts[date]|length }}" alt="photo">
      {% else %}
      <img src="https://res.cloudinary.com/ddg0iss6e/image/upload/v1678273766/Screen_Shot_2023-03-08_at_10.08.54_pm_yz0hez.png" class="img{{ sorted_posts[date]|length }}" alt="photo">
      {% endif %}
      </div>
      <div class="display-text">
        <div class="metadata">
        <p> {{ post['metadata']['first_name'] }} </p> 
        <p> {{ post['metadata']['time'] }} </p>
        </div>
      <h3 class="entry-heading "> {{ post['diary_heading'].capitalize() }}</h3>
      <p class="diary-text text{{ sorted_posts[date]|length }}"> {{ post['diary_text'] }} </p>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}
  {{ super() }}
{% endblock article %}

{% block tail_js %}  <script src="/static/main.js" async defer></script> {% endblock tail_js%}

