{% extends "layout.html" %}

{% block title %}
Home
{% endblock title %}

{% block heading %} 
- {{ user}}
{% endblock heading %}

{% block main %}
{% for date in sorted_posts %}
<div class="carousel" id="{{ date }}">
    <h1> {{ date }} </h1>
    {% for post in sorted_posts[date] %}
    <div class="carousel-item {{ sorted_posts[date]|length }}" id="{{ post['id'] }}">
      <h3> {{ post['metadata']['first_name'] }} <span class=time> {{ post['metadata']['time'] }} </span></h3>
      <img src="{{ post['img_url'] }}" alt="photo">
      <h3> {{ post['diary_heading'] }}</h3>
      <p> {{ post['diary_text'] }} </p>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock main %}