{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/addentry.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Add Entry
{% endblock title %}

{% block heading %} 
{% endblock heading %}

{% block login_signup %} 
 {{ super() }}
{% endblock login_signup %}

{% block article %}
<form action="/addentry" method="POST" enctype="multipart/form-data">

    

    <!-- <label for="photo">Upload photo</label>
    <input name="photo" type="text"></input>
    </br> -->

    <label for="heading">Enter Heading</label>
    <input name="heading" type="text" maxlength="25">
    </br>

    <label for="entry">Enter text</label>
    <input name="entry" type="text">
    </br>

    <input type="file" name="images" multiple/> </br>

    <input type="image" name="submit" src="/static/images/checkmark.png" width="30px">
</form>
{% endblock article %}