{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/addentry.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Add Entry
{% endblock title %}

{% block login_signup %} 
 {{ super() }}
{% endblock login_signup %}

{% block article %}
<div class="heading">
  <div class="back-arrow">
    <a href="/"><img src="/static/images/back.png" alt="back" width="30px"></a>
  </div>
  <div class="add-entry-heading">
   <h2> Create Entry </h2>
  </div>
</div>

<div class="form">
<form action="/addentry" method="POST" enctype="multipart/form-data">
    <div class="heading-input-div">
    <label for="heading">Heading</label> </br>
    <input name="heading" type="text" maxlength="25">
    </div>

    <div class="entry-div">
    <label for="entry">Text</label> </br>
    <textarea name="entry" type="text"></textarea>
    </div>

    <input type="file" name="images" multiple/>

    <button type="submit" class="submit-btn"> Submit</button>
</form>
</div>
{% endblock article %}