{% extends "layout.html" %}

{% block title %}
Add Entry
{% endblock title %}

{% block heading %} 
- Add Entry
{% endblock heading %}


{% block main %}
<form action="/addentry" method="POST" enctype="multipart/form-data">

    <input type="file" name="images" multiple/>

    <label for="photo">Upload photo</label>
    <input name="photo" type="text"></input>
    </br>

    <label for="heading">Enter Heading</label>
    <input name="heading" type="text"></input>
    </br>

    <label for="entry">Enter text</label>
    <input name="entry" type="text"></input>
    </br>

    <input type="image" name="submit" src="/static/images/checkmark.png" width="30px">
</form>
{% endblock main %}