{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/signup.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Sign Up
{% endblock title %}

{% block login_signup %}
<div class="navigation-bar">
  <a href="/signup" ><img src='/static/images/Logo.png' alt="logo for landing" class="home-logo"></a>
  <div class="login">
  {% if not user_name %}
    <a href="/login" class="login-btn"> Login </a>
  {% endif %} 
  </div>
</div>
{% endblock login_signup %}


{% block article %}


<div class="signup-div">
  <div class="signup-form">
  <div class="signup-logo">
      <img src='/static/images/logo-white.png' alt="logo for login" class="logo" width= "250px">
  </div> 

  <form action="/signup" method="POST">
    <div class="firstname-div">
    <label for="firstname">First Name</label></br>
    <input name="firstname" type="text" placeholder="required"></input>
    </div>

    <div class="lastname-div">
    <label for="lastname">Last Name</label></br>
    <input name="lastname" type="text" placeholder="required"></input>
    </div>

    <div class="email-div">
    <label for="email">Email</label></br>
    <input name="email" type="text" placeholder="required"></input>
    </div>

    <div class="password-div">
    <label for="password">Password</label></br>
    <input name="password" type="password" placeholder="required"></input>
    </div>

    <div class="passwordcheck-div">
    <label for="passwordcheck">Re-enter Password</label></br>
    <input name="passwordcheck" type="password" placeholder="required"></input>
    </div>
    
    <div class="diarycode-div">
    <label for="diarycode"> Diary Code </label></br>
    <input name="diarycode" type="text"></input>
    <p class="diary-code-text">If you have a diary code enter it here, otherwise we will generate one for you</p>
    </div>

    <div class="error-messages">
    {% if email_2_error %}
    <p class="error"> {{ email_2_error }}</p>
    {% endif %}

    {% if account_exists_error %}
    <p class="error"> {{ account_exists_error }}</p>
    {% endif %}

    {% if error %}
    <p class="error"> {{ error }}</p>
    {% endif %}

    {% if diarycode_error %}
    <p class="error"> {{ diarycode_error }} </p>
    {% endif %}

    {% if invalid_email_error %}
    <p class="error"> {{ invalid_email_error }} </p>
    {% endif %}

    {% if incomplete_field %}
    <p class="error"> {{ incomplete_field }} </p>
    {% endif %}

    {% if name_error %}
    <p class="error"> {{ name_error }} </p>
    {% endif %}
    
    </div>

    <button type="submit" class="signup-button">Sign Up</button>
  </form>

</div>
</div>
{% endblock article %}