{% extends "layout.html" %}
{% block head_css %} 
<link rel="stylesheet" href="/static/signup.css"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
{% endblock head_css %}


{% block title %}
Sign Up
{% endblock title %}

{% block login_signup %}
<div class="navigation-bar">
  <a href="/signup" ><img src='/static/images/Logo.png' alt="logo for landing" class="home-logo"></a>
  <div class="login">
  {% if not user_name %}
    <a href="/login" class="login-btn"> Login </a>
  {% endif %} 
  </div>
</div>
{% endblock login_signup %}


{% block article %}







<form action="/signup" method="POST">
    <label for="firstname">Enter First Name</label>
    <input name="firstname" type="text"></input>
    </br>

    <label for="lastname">Enter Last Name</label>
    <input name="lastname" type="text"></input>
    </br>

    <label for="email">Enter Email</label>
    <input name="email" type="text"></input>
    </br>

    <label for="password">Enter Password</label>
    <input name="password" type="password"></input>
    </br>

    <label for="passwordcheck">Enter Password Again</label>
    <input name="passwordcheck" type="password"></input>
    </br>

    <label for="diarycode"> If you have a diary code enter it here, otherwise we will generate one for you </label>
    <input name="diarycode" type="text"></input>
    
    <button type="submit">Sign Up</button>

    {% if email_2_error %}
    <p class="error"> {{ email_2_error }}</p>
    {% endif %}

    {% if account_exists_error %}
    <p class="error"> {{ account_exists_error }}</p>
    {% endif %}

    {% if error %}
    <p class="error"> {{ error }}</p>
    {% endif %}

    {% if diarycode_error %}
    <p class="error"> {{ diarycode_error }} </p>
    {% endif %}
</form>
{% endblock article %}