{% extends "layout.html" %}

{% block title %}
View
{% endblock title %}

{% block heading %} 
- {{ user_name }}
{% endblock heading %}

{% block nav %}
{% if user_id == poster_id %}
<a href="/edit/{{ post_id }}"><img src="/static/images/editpencil.png" alt="edit" name="edit" width="30px"></a>
<button type="submit" class="view-delete-button">
    <img src="/static/images/delete.png" alt="delete" width="30px">
</button>
{% endif %}

<div class="the-delete"></div>
    <div class="delete">
        <span class="close-delete">&times;</span>
        <p> Are you sure you want to delete this? It cannot be undone. </p>    
        <form action="/delete" method="POST">
            <button type="submit" id="delete-btn"> Delete </button>
        </form>
    </div>

<input class="fav-checkbox" type="checkbox" name="fav">

{% endblock nav %}

{% block main %}
<div>
<h1> {{ reversed_date }} {{ day_name }}</h1>
    <div class="heading">
    <h3> {{ first_name }} </h3> <span class=time> {{ post_time }} </span>
    </div>
    <img src="{{ img_url }}" alt="photo" class="viewphoto">
    <h3> {{ diary_heading }} </h3>
    <p> {{ diary_text }} </p>
</div>
{% endblock main %}