{% extends "layout.html" %}
{% block css %} <link rel="stylesheet" href="/static/view.css"> {% endblock css %}


{% block title %}
View
{% endblock title %}

{% block login_signup %} {% endblock login_signup %}

{% block nav %}
{% if user_id == poster_id %}
<a href="/edit/{{ post_id }}"><img src="/static/images/editpencil.png" alt="edit" name="edit" width="30px"></a>
<button type="submit" class="view-delete-button">
    <img src="/static/images/delete.png" alt="delete" width="30px">
</button>
{% endif %}

<div class="the-delete">
    <div class="delete">
        <span class="close-delete">&times;</span>
        <p> Are you sure you want to delete this?</p>
        <p> This action cannot be undone. </p>        
        <form action="/delete" method="POST">
            <input type="hidden" name="post_id" value="{{ post_id }}">
            <button type="submit" class="delete-btn"> Delete </button>
        </form>
    </div>
</div>

<input class="fav-checkbox" type="checkbox" name="fav">

{% endblock nav %}

{% block main %}
<div>
<h1> {{ reversed_date }} {{ day_name }}</h1>
    <div class="heading">
    <h3> {{ first_name }} </h3> <span class=time> {{ post_time }} </span>
    </div>
    {% if image_list %}
        {% for image in image_list %}
    <img src="{{ image['img_url'] }}" alt="photo" class="viewphoto">
        {% endfor %}
    {% else %}
    <img src="https://res.cloudinary.com/ddg0iss6e/image/upload/v1678273766/Screen_Shot_2023-03-08_at_10.08.54_pm_yz0hez.png" alt="photo">
    {% endif %}
    <h3> {{ diary_heading }} </h3>
    <p> {{ diary_text }} </p>
</div>
{% endblock main %}
