{% extends "layout.html" %}

{% block title %}
View
{% endblock title %}

{% block heading %} 
- {{ user_name }}
{% endblock heading %}

{% block nav %}
{% if user_id == poster_id %}
<a href="/edit/{{ post_id }}"><img src="/static/images/editpencil.png" alt="edit" name="edit" width="30px"></a>
<a href="/delete/{{post_id}}"><img src="/static/images/delete.png" alt="delete" name="delete" id="view-delete-button" width="30px"></a>
{% endif %}

<input class="fav-checkbox" type="checkbox" name="fav">

{% endblock nav %}

{% block main %}
<div>
<h1> {{ reversed_date }} {{ day_name }}</h1>
    <div class="heading">
    <h3> {{ first_name }} </h3> <span class=time> {{ post_time }} </span>
    </div>
    <img src="{{ img_url }}" alt="photo" class="viewphoto">
    <h3> {{ diary_heading }} </h3>
    <p> {{ diary_text }} </p>
</div>
{% endblock main %}